# Project exclude paths
/target/
/.idea/sonarlint/issuestore/4/4/442292b8a7efeabbe4cc176709b833b1792140ec
/.idea/sonarlint/issuestore/a/8/a8a3de4e10d387a5941f58eea8cec707e892d944
/.idea/sonarlint/issuestore/index.pb
/.idea/workspace.xml
